<div class="row">
    <div class="container-fluid">
    <div class="row" style="margin-bottom: 10px;">
        <div class="container" >
                <div class="row" >
                    <% if(data.image.background) {%>
                    <img src="<%= data.image.background %>"class="img-fluid" alt="Background image" style="height:400px;width:100%">
                    <% } %>
                </div>
                <div class="row">
                    <div class="card w-100 " style="border:none">
                        <div class="row no-gutters">
                            <div class="col-lg-3 col-sm-4 col-4">   
                                <a href=""><img src="<%= data.image.logo %>" height="200" class="card-img" alt="..." style="margin-top:10px;margin-bottom:10px;"></a>
                            </div>
                            <div class="col-lg-7 col-sm-7 col-7">
                                <div class="card-body" style="padding-top: 5px;">
                                    <h1 class="card-title font" ><%= data.name %></h1>
                                        <div class="company-info">
                                            <div class="company address"> <span class="icon fas fa-map-marker-alt"><a><%= data.Address.address %></a></span></div>
                                            <div class="company member">
                                                <% if(data.member){ %>
                                                    <span class="fas fa-users">  <a><%= data.member %></a></span>
                                                <% }%>
                                                <span class="fas fa-flag-usa"> <a><%= data.Address.country %></a></span>
                                            </div>
                                            <div class="company job"> <span class="fas fa-cogs"><a><%= data.work %></a> </span> </div>
                                            <% if(data.workday){ %>
                                                <div class="company wday"> <span class="fas fa-calendar-alt"><a><%= data.workday %></a> </span> </div>
                                            <% }%>
                                        </div>
                                </div> 
                            </div>
                            <div class="col-lg-2">
                                <div class="card-title float-right " style="margin-right: 10px;"><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-pencil-alt"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="row">
                    <form id='form_edit' action="/admin/introcpn" method="POST" enctype="multipart/form-data">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-left" style="margin-right: 15px;height: auto;">
                        <div class="row" style="background-color:#fff ;border: 1px solid #e3e3e3;"> 
                            <div class="card w-100" style="border: none;">
                                <div class="card-body">
                                <h2 class="card-title text-center"><%= data.title%></h2>
                                <ul style="list-style-type: none">
                                    <li><h5 class="card-text font-2" >Giới thiệu</h5>
                                        <ul>
                                            <div class="form-group shadow-textarea">
                                                <textarea id='format_intro' class="form-control z-depth-1" name='intro' id="exampleFormControlTextarea6" rows="5" placeholder="Hãy giới thiệu về công ty của bạn..." required><%= info.intro%></textarea>
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                                </div>
                            </div>
                            <div class="card w-100 "  style="border: none;">
                                <div class="card-body " style="padding-top: 0px;">
                                    <ul style="list-style-type: none">
                                        <li><h5 class="card-title font-2">Chuyên Môn Của Chúng Tôi</h5>
                                            <div class="form-group shadow-textarea">
                                                <label for="exampleFormControlTextarea6">Các kỹ năng</label>
                                                    <input type="text" name='skills' value="<%= info.os.skills%>" required>
                                                </div>
                                            </li>
                                            <li>
                                            <div class="form-group shadow-textarea">
                                                <label for="exampleFormControlTextarea6">Một số chuyên môn khác</label>
                                                <textarea id='format_os_intro' class="form-control z-depth-1" name="os_intro" id="exampleFormControlTextarea6" rows="3" placeholder="Ví dụ: AWS cloud infrastructure with auto-scaling abilities. Mobile app platform coverage: Native iOS and Android."><%= info.os.os_intro%></textarea>
                                                </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row"  style="background-color:#fff;margin-top: 10px;border: 1px solid #e3e3e3;">
                            <div class="card w-100" style="border: none;">
                                <div class="card-body" style="padding-bottom: 5px;">
                                <h3 class="conten card-title font-2">Tại sao bạn sẽ chọn chúng tôi ?</h3>
                                    <div class="form-group shadow-textarea">
                                        <textarea id='format_reasons' class="form-control z-depth-1" name="reasons"  id="exampleFormControlTextarea6" rows="3" placeholder="Twice performance bonus/year
Company Trip & Health Care
Attractive Salary" required><%= info.choose_us.reasons%></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card w-100" style="border: none;">
                                <div class="card-body" style="padding-bottom: 5px;">
                                    <input type="file" class="smart-file" name="images" value="<%= info.choose_us.image%>"  data-btn-class="btn-primary" data-field-type="bootstrap-file-filed"  multiple required>
                                </div>
                            </div>
                            <div class="card w-100" style="border: none;">
                                <div class="card-body" style="padding-bottom: 5px;">
                                <ul>
                                    <div class="form-group shadow-textarea">
                                        <label for="exampleFormControlTextarea6">Nhưng lý do khác (nếu có)</label>
                                        <textarea id='format_reasons_others' name="others" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="We ship on quality instead of on time. When a feature is ready we deploy ..." ></textarea>
                                      </div>
                                </ul>
                                </div>
                            </div>
                            <div class="card w-100" style="border: none;">
                                <div class="card-body" style="padding-top: 5px;padding-bottom: 5px;">
                                <h3 class="conten card-title font-2">Lợi ích khi làm việc tại đây</h3>
                                <ul style="list-style-type: none">
                                    <li><h6 class="font-2">Môi trường làm việc</h6>
                                        <ul>
                                            <div class="form-group shadow-textarea">
                                                <textarea  id='format_benefits_environment' class="form-control z-depth-1" name="environment" id="exampleFormControlTextarea6" rows="3" placeholder="We care a great deal about code quality. We often go back and improve core parts of the codebase to make it better or more lean..."></textarea>
                                            </div>
                                        </ul>
                                    </li>
                                    <li><h6 class="font-2">Bạn sẽ nhận được gì khi làm tại đây </h6>
                                        <ul>
                                            <div class="form-group shadow-textarea">
                                                <textarea id='format_benefits_bonus' class="form-control z-depth-1" name="bonus" id="exampleFormControlTextarea6" rows="3" placeholder="Extra Medical Insurance.
Macbook is provided.
14 days annual leaves, working Monday - Friday."></textarea>
                                              </div>
                                        </ul>
                                    </li>
                                </ul>
                                </div>
                            </div>
                            <div class="card w-100" style="border: none;">
                                <div class="card-body text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Lưu thông tin</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </form>
                </div>
        </div>
        <!-- Button trigger modal -->
        <div  class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="max-width: 1000px">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin của công ty</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form id='editprofile' enctype="multipart/form-data" action="/admin/edit_profile" method="post" >
                <div class="modal-body container-fluid">
                    <div class="row ">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="card" style="border: none;max-width: 18rem;">
                                <img id='avt' src="<%=data.image.logo%>"  class="rounded-circle card-img-top" alt="..." style="border: 1px solid #e3e3e3;">
                                <h5 class="card-title text-center mt-3 mbt-0"><%= data.name %></h5>
                                <div class="card-body p-0 mx-auto">
                                    <input type="file" name="uplogo"
                                    data-field-type="bootstrap-file-filed"  
                                    data-label="Logo File"  
                                    data-btn-class="btn-primary"  
                                    data-file-types="image/jpeg,image/png,image/gif"  
                                    data-preview="on"
                                    value="<%=data.image.logo%>"
                                     >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="check form-control" value="<%= data.email %>" name="email" placeholder="Email " disabled required/>
                                <div class="valid-feedback">Bạn có thể sử dụng email này</div>
                                <div class="invalid-feedback">Email đã có người sử dụng</div>
                            </div>                      
                            <div class="form-group">
                                <input type="text" class="form-control" value="<%= data.Address.linkwebsite %>" name='link' placeholder="Website của NTD"  required/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name='title' value="<%= data.title %>" placeholder="Title của NTD"  required/>
                            </div>
                            <div class="form-group ">
                                <input type="text" class="form-control" value="<%= data.workday %>"  name='workday'  placeholder="Ngày là việc" required/>
                                </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name='member' value="<%=data.member%>" placeholder="Số nhân viên của công ty" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" value="<%= data.Address.country %>" name="country" placeholder="Thuộc quốc gia nào ?" required/>
                            </div>
                            <div class="form-group ">
                            <input type="text" class="form-control" value="<%= data.Address.city %>"  name='city'  placeholder="Thuộc thành phố nào ?" required/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name='address' value="<%= data.Address.address %> " placeholder="Địa chỉ hiện tại" required/>
                            </div>
                            <div class="form-group">
                                <select id='sel'name='work' value="<%= data.work %>" class="custom-select browser-default " style="width:410px" required>
                                    <% if(data.work === "Product"){%>
                                    <option value="Product" selected>Product</option> <option value="Outsourcing">Outsourcing</option>
                                    <% }else { %>
                                    <option value="Product">Product</option>
                                    <option selected value="Outsourcing">Outsourcing</option>
                                    <% } %>
                                </select>
                                <button type="button" class="btn btn-primary" style="margin-left: 4px;" data-toggle="modal" data-target="#exampleModalCenter">
                                    <i class="fas fa-plus-circle"></i>
                                    </button>
                            </div>
                            <div class="form-group ">
                                <div class="custom-file ">
                                    <% if(data.image.background){ %>
                                    <input type="file" class="custom-file-input btn-default" value="<%= data.image.background %>" name="upbg" data-file-types="image/jpeg,image/png,image/gif" data-field-type="bootstrap-file-filed" id="customFile" >
                                    <% }else{ %>
                                        <input type="file" class="custom-file-input btn-default" value="<%= data.image.background %>" name="upbg" data-file-types="image/jpeg,image/png,image/gif" data-field-type="bootstrap-file-filed" id="customFile" required>
                                    <% }%>
                                    <label class="custom-file-label" for="customFile">Background của công ty</label>
                                    </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </form>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
<link rel="stylesheet" href="../../public/css/tagsinput.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../../public/css/companies.css">
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap_file_field.css">
<script type="text/javascript" src="../../public/js/bootstrap_file_field.js"></script>
<script src="../../public/js/tagsinput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script>
    $(document).ready(function(){
        var skills = [ "JavaScript","PHP","C++","C#","Python","Java","Nodejs","MongoDB","Ruby","AI","Css/Boostrap","MySQL","Elasticsearch","Cassandra","FondEnd","BackEnd","Scala","Swift","TypeScript","Objective-C","English","SQL","Android",".NET"];
    var skills = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: skills
    });

    $('input[name="skills"]').tagsinput({
        typeaheadjs: {
        name: 'skills',
        source: skills
        }
    });
     /*   var skills = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {
            url: '../../public/json/skillsname.json',
            filter: function(list) {
            return $.map(list, function(skill) {
                return { name: skill }; });
            }
        }
        });
        skills.initialize();
        $('input[name="skills"]').tagsinput({
        typeaheadjs: {
            name: 'skills',
            displayKey: 'name',
            valueKey: 'name',
            source: skills.ttAdapter()
        }
        });*/
    })
       
    $('#format_intro').keypress(function(){
      formattext ($('#format_intro'));
    })
    $('#format_os_intro').keypress(function(){
      formattext ($('#format_os_intro'));
    })
    $('#format_reasons').keypress(function(){
      formattext ($('#format_reasons'));
    })
    $('#format_reasons_others').keypress(function(){
      formattext ($('#format_reasons_others'));
    })
    $('#format_benefits_environment').keypress(function(){
      formattext ($('#format_benefits_environment'));
    })
    $('#format_benefits_bonus').keypress(function(){
      formattext ($('#format_benefits_bonus'));
    })
    function formattext (id){
        var key = window.event.keyCode;
        if (key === 13) {
            id.val(id.val()+"*")
        return false;
    }
    else {
        return true;
    }
    }

</script>
<style>
    .col-right{
        max-width: 32%;
        float: right;
        }
    @media (max-width:1200px){
    .col-right{
        margin-top: 10px;
        max-width: 100%;
        height: 33%;
    }
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
.b1{
    width: 20px;
    height: 20px;
    font-size: 10px;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.set{
    margin-top: 5px;
    border-radius: 40px;
    margin-left: 5px;
}
.tab .nav-link {
    color: black;
}
.tab .nav-item{
    background-color: #e3e3e3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e3e3e3;
    border-bottom: none;
}
.review:hover a{
    text-decoration: none;
    color: azure;
}
</style>