<div class="row" id="showjob">
        <span id="jobs">Có hơn <span id="num"><%= num %></span> việc làm <a style="color: #ffc107;"><%= name %></a> <span style="color:#ffc107 ;"> <%= where %> </span> dành cho bạn</span>
        <hr>
    </div>
    <hr>
<% searchjob.forEach(function(ds){ %>
    <div class="row hv">
        <div class="col-12">
            <div class="card mb-3" style="max-width: 730px">
                <div class="row no-gutters">
                    <div class="col-2" id="logo">
                        <a href="<%= ds._source.idcompany %>"><img src="../public/image/logo-axon.png" class="card-img" alt="..."></a>
                    </div>
                <div class="col-8">
                    <div class="card-body">
                        <a  href="/vieclamit/<%= ds._source.namejob %>&<%= ds._id %>%>" style="font-size: 22px;font-weight: 450;"><span class="card-title"><%= ds._source.namejob %> ( <%= ds._source.skills %>)</span></a>
                    <p class="card-text" style=" white-space: nowrap;">
                        <i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a> </br>
                        <i class="fas fa-map-marked-alt"></i> <%= ds._source.address %> </br>
                        <i class="fas fa-code"></i> <%= ds._source.skills %> </br>
                    </p> 
                    <p class="card-text"><small class="text-muted "><%= ds._source.time.day %>
                        <%= ds._source.time.hour %>:<%=ds._source.time.minutes %></small> </p>
                    </div>
                </div>
                <div class="col-1" ><span class="badge badge-warning" style="color:white;">Hot Job</span>
                
                </div>
                </div>
            </div>
        </div>
    </div>
<% }) %>
<div class="row">
    <div class="col-12">
        <nav aria-label="...">
            <% if (num >= 7){ %>
                <% if (pages >0) { %>
                    <ul class="pagination pagination-sm justify-content-center">
                    <% if (current == 1) { %>
                    <li class="page-item active" aria-current="page=1#showjob">
                        <span class="page-link">
                        1
                        <span class="sr-only">(current)</span>
                        </span>
                    </li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="?page=1#showjob">1</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if(i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (i = 2; i <= (Number(current)+4) && i <= pages; i++ ) { %>
                    <% if(i == current){ %>
                        <li class="page-item active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= i %>#showjob"><%= i %></a></li>
                    <% } %>
                    <% if (i==Number(current) + 4 && i < pages) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                <% } %>
                </ul>
                <% } %>
            <% } %>
        </nav>
    </div>
</div> 