<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../public/css/companies.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/page-admin.css">
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/home_ad.css">
    <link href="../../public/css/agency.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container-md" style="background-color:#e9e9e9">
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #212529;color: gray;">
                <div class="container">
                  <a class="navbar-brand js-scroll-trigger" href="/">VIEC JOB <span style="color: #f44336;font-size: 18px;">|Admin</span></a>
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                  </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarResponsive">
                    <a href="/admin/home"><button type="button" class="btn btn-labeled btn-success">
                       <i class="fas fa-home"></i> Home Admin
                    </button></a>
              </div>
                </div>
            </nav>
        <div class="row">
             <div class="container-fluid">
                <div class="row" style="margin-top: 55px;margin-bottom: 10px;">
                    <div class="container" >
                        <div class="row" >
                             <% if(profiles.image.background){%>
                            <img src="<%= profiles.image.background%>" class="img-fluid" alt="Responsive image">
                            <%}%>
                        </div>
                        <div class="row">
                            <div class="card w-100 " style="border:none">
                                <div class="row no-gutters">
                                    <div class="col-lg-3 col-sm-4 col-4">   
                                        <a href=""><img src="<%= profiles.image.logo%>" height="200" class="card-img" alt="..." style="margin-top:10px;margin-bottom:10px;"></a>
                                    </div>
                                    <div class="col-lg-7 col-sm-7 col-7">
                                        <div class="card-body" style="padding-top: 5px;">
                                            <h1 class="card-title font" ><%= profiles.name%></h1>
                                                <div class="company-info">
                                                    <div class="company address"> <span class="icon fas fa-map-marker-alt"><a><%= profiles.Address.address%></a></span></div>
                                                    <div class="company member"> 
                                                        <% if(profiles.member) {%>
                                                        <span class="fas fa-users"><a><%=profiles.member%></a></span>
                                                        <% }%>
                                                        <span class="fas fa-flag-usa"><a><%=profiles.Address.country%></a></span>
                                                    </div>
                                                    <div class="company job"> <span class="fas fa-cogs"><a><%=profiles.work%></a> </span> </div>
                                                    <% if(profiles.workday){%>
                                                    <div class="company wday"> <span class="fas fa-calendar-alt"><a><%=profiles.workday%></a> </span> </div>
                                                    <% }%>
                                                </div>
                                         </div> 
                                    </div>
                                    <div class="col-lg-2 none text-center" >
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row tab">
                            <ul class="nav nav-tabs" style="margin-top: 10px;">
                                <li class="nav-item ">
                                  <a id='hm' class="nav-link active" href="#home">Home</a>
                                </li>
                                <li class="nav-item ">
                                  <a id='rv' class="nav-link " href="#danhgia">Đánh giá</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row tab-content mb-3">
                            <div id="home" class="container tab-pane active">
                                <div  class="row">
                                    <div class="col-xl-8 col-md-12 col-sm-12 col-left" style="margin-right: 15px;height: auto;">
                                        <div class="row" style="background-color:#fff ;border: 1px solid #e3e3e3;"> 
                                            <div class="card w-100" style="border: none;">
                                                <div class="card-body">
                                                <h2 class="card-title text-center"><%= profiles.title %></h2>
                                                <ul style="list-style-type: none">
                                                    <li><h5 class="card-text font-2" >Giới thiệu</h5>
                                                        <ul>
                                                            <% let temp = Infor.intro.split('*') %>
                                                            <% temp.forEach(function(element,index) {%>
                                                            <%  element = element.trim()%>
                                                                <% if(element !== ''){%>
                                                                <li>
                                                                    <p class="card-text"><%= element%> </p>
                                                                </li> 
                                                                <%}%>
                                                            <%});%>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                </div>
                                            </div>
                                            <div class="card w-100 "  style="border: none;">
                                                <div class="card-body " style="padding-top: 0px;">
                                                    <ul style="list-style-type: none">
                                                        <li><h5 class="card-title font-2">Chuyên Môn Của Chúng Tôi</h5>
                                                            <div class="skills">
                                                                <% Infor.os.skills.forEach(element => { %>
                                                                    <a href="#java"><%=element%></a>
                                                               <% }); %>
                                                            </div>
                                                            <ul>
                                                                <% if(Infor.os.intro){%>
                                                                    <% temp = Infor.os.intro.split('*') %>
                                                                    <% temp.forEach(function(element,index) {%>
                                                                    <%  element = element.trim()%>
                                                                        <% if(element !== ''){%>
                                                                        <li>
                                                                            <p class="card-text"><%= element%> </p>
                                                                        </li> 
                                                                        <%}%>
                                                                    <%});%>
                                                                <%}%>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color:#fff ;margin-top: 10px;border: 1px solid #e3e3e3;"> 
                                            <div class="col-12 card w-100" style="border: none;">
                                                <div class="card-body">
                                                <h5 class="font card-title"><%= profiles.name %> Tuyển Dụng</h5>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="card mb-3 hv" style="max-width: 720px">
                                                        <div class="row no-gutters">
                                                            <div class="col-xl-2 col-2" id="logo">   
                                                                <a href=""><img src="../../public/image/logo-axon.png" class="card-img" alt="..."></a>
                                                            </div>
                                                            <div class="col-xl-10 col-10">
                                                                <div class="card-body">
                                                                    <a class="card-title"  href="/vieclamit/job/" style="font-size: 22px;font-weight: 450;">Frontend Developer ( CSS, JavaScript, JQuery)</a>
                                                                    <p style="margin-bottom: 5px"><i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a></p>
                                                                    <p style="margin-bottom: 5px"><i class="fas fa-map-marked-alt"></i> 67 10th level Saigon Centre Tower 2 Lê Lợi, District 1, Ho Chi Minh</p>
                                                                    <div class="skills">
                                                                        <a href="#java">Java</a>
                                                                        <a href="#php">PHP</a>
                                                                        <a href="#js">JavaScript</a>
                                                                    </div>
                                                                    <p style="margin-bottom: 5px"><small class="text-muted "> 2020/04/25 12:30 </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="card mb-3 hv" style="max-width: 720px">
                                                        <div class="row no-gutters">
                                                            <div class="col-xl-2 col-2" id="logo">   
                                                                <a href=""><img src="../../public/image/logo-axon.png" class="card-img" alt="..."></a>
                                                            </div>
                                                            <div class="col-xl-10 col-10">
                                                                <div class="card-body">
                                                                    <a class="card-title"  href="/vieclamit/job/" style="font-size: 22px;font-weight: 450;">Frontend Developer ( CSS, JavaScript, JQuery)</a>
                                                                    <p style="margin-bottom: 5px"><i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a></p>
                                                                    <p style="margin-bottom: 5px"><i class="fas fa-map-marked-alt"></i> 67 10th level Saigon Centre Tower 2 Lê Lợi, District 1, Ho Chi Minh</p>
                                                                    <div class="skills">
                                                                        <a href="#java">Java</a>
                                                                        <a href="#php">PHP</a>
                                                                        <a href="#js">JavaScript</a>
                                                                    </div>
                                                                    <p style="margin-bottom: 5px"><small class="text-muted "> 2020/04/25 12:30 </small> </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"  style="background-color:#fff;margin-top: 10px;border: 1px solid #e3e3e3;">
                                            <div class="card w-100" style="border: none;">
                                                <div class="card-body" style="padding-bottom: 5px;">
                                                <h3 class="conten card-title font-2">Tại sao bạn sẽ chọn chúng tôi ?</h3>
                                                    <% if(Infor.choose_us.reasons){%>
                                                        <ul>
                                                            <% temp = Infor.choose_us.reasons.split('*') %>
                                                            <% temp.forEach(function(element,index) {%>
                                                            <%  element = element.trim()%>
                                                                <% if(element !== ''){%>
                                                                <li>
                                                                    <p class="card-text"><%= element%> </p>
                                                                </li> 
                                                                <%}%>
                                                            <%});%>
                                                        </ul>
                                                    <%}%>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <% Infor.choose_us.image.forEach(element => { %>
                                                <div class="mySlides">
                                                    <img src="<%= element%>" style="width:100%;height: 500px;">
                                                </div>
                                                <%});%>
                                            <a class="prev" onclick="plusSlides(-1)">❮</a>
                                            <a class="next" onclick="plusSlides(1)">❯</a>
                                                <div class="roww">
                                                    <% Infor.choose_us.image.forEach(element => {%>
                                                        <div class="column">
                                                            <img class="demo cursor" src="<%= element%>" style="width:90%;height:50px;" onclick="currentSlide(1)" >
                                                            </div>
                                                        <%});%>
                                            </div>
                                            </div>
                                            <div class="card w-100" style="border: none;">
                                                <div class="card-body" style="padding-bottom: 5px;">
                                                    <% if(Infor.choose_us.others){%>
                                                        <ul>
                                                            <% temp = Infor.choose_us.others.split('*') %>
                                                            <% temp.forEach(element => {%>
                                                            <%  element = element.trim()%>
                                                                <% if(element !== ''){%>
                                                                <li>
                                                                    <p class="card-text"><%= element%> </p>
                                                                </li> 
                                                                <%}%>
                                                            <%});%>
                                                        </ul>
                                                    <%}%>
                                                </div>
                                            </div>
                                            <% if(Infor.Benefits.work_environment || Infor.Benefits.bonus){ %>
                                            <div class="card w-100" style="border: none;">
                                                <div class="card-body" style="padding-top: 5px;padding-bottom: 5px;">
                                                <h3 class="conten card-title font-2">Lợi ích khi làm việc tại đây</h3>
                                                <ul style="list-style-type: none">
                                                    <% if(Infor.Benefits.work_environment){%>
                                                        <li><h6 class="font-2">Môi trường làm việc</h6>
                                                        <ul>
                                                            <% temp = Infor.Benefits.work_environment.split('*') %>
                                                            <% temp.forEach(element => {%>
                                                            <%  element = element.trim()%>
                                                                <% if(element !== ''){%>
                                                                <li>
                                                                    <p class="card-text"><%= element%> </p>
                                                                </li> 
                                                                <%}%>
                                                            <%});%>
                                                        </ul>
                                                        </li>   
                                                    <%}%>
                                                    <% if(Infor.Benefits.bonus){%>
                                                        <li><h6 class="font-2">Môi trường làm việc</h6>
                                                        <ul>
                                                            <% temp = Infor.Benefits.bonus.split('*') %>
                                                            <% temp.forEach(element => {%>
                                                            <%  element = element.trim()%>
                                                                <% if(element !== ''){%>
                                                                <li>
                                                                    <p class="card-text"><%= element%> </p>
                                                                </li> 
                                                                <%}%>
                                                            <%});%>
                                                        </ul>
                                                        </li>   
                                                    <%}%>
                                                </ul>
                                                </div>
                                            </div>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-right">
                                        <div class="row" style="background-color:#fff;margin-bottom: 10px;border: 1px solid #e3e3e3; border-radius: 5px;" >
                                            <div class="col-12" style="margin-top: 5px;">
                                                <div class="card text-center h-100" style="border:none">
                                                    <div class="row p-2 no-gutters rounded">
                                                        <div class="col-6 rounded">
                                                            <div class="card card-block text-info rounded-0 border-left-0 border-right-0 border-top-0 border-bottom-0">
                                                                <h3>10</h3>
                                                                <span class="small text-uppercase">Job</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 rounded">
                                                            <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                                                                <h3><i class="far fa-thumbs-up"></i> 3000</h3>
                                                                <span class="small text-uppercase"> Follow</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row dv1" style="background-color:#fff;margin-bottom: 10px;border: 1px solid #e3e3e3;" >
                                            <%- include('../elements/ratings'); -%>
                                        </div>
                                        <div class="row " style="background-color: #fff;;">
                                            <div class="card w-100" style="border: none;">
                                                <div class="card-body" style="padding-bottom: 5px;">
                                                    <h3 class="conten card-title text-center">Đánh giá nổi bật</h3>
                                                    <hr>
                                                </div>
                                            </div>
                                                <div class="col-12" style="margin-bottom:5px">
                                                    <div class="card flex-row flex-wrap w-90">
                                                        <div class="img-square-wrapper" >
                                                            <img class="set" src="../public/image/logo-grab.jpg" height="50" width="50" alt="">
                                                        </div>
                                                        <div class="col-xl-10 col-sm-10 col-10 card-block px-2" >
                                                            <div class='row' style="margin-top: 5px;">
                                                                <p class="col-6 title text-info" style="margin-bottom: 0px;">@TaoLuan</p>
                                                                <small class="col-6 text-muted float-right" style="margin-top: 5px;"> 2020/04/25 12:30 </small>
                                                            </div>
                                                            <div class="row">
                                                                <p class="col-12 card-text text-secondary">"from transportation to payments and financial services across a 
                                                                region of more than 620 million people. "</p>
                                                            </div>
                                                            <div class="row text-center rank float-left">
                                                                <div class="col-12 rating float-left">
                                                                    <small class="text-muted" style="margin-top: 5px;font-size: 14px;"> Đánh giá:  </small>
                                                                    <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1" aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1" aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-default btn-grey  bg-secondary b1" aria-label="Left Align">
                                                                        <span class="fas fa-star fa-1x text-white" aria-hidden="true" style="margin:0px;padding: 0px;"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-12" style="margin-bottom:5px">
                                                    <div class="card flex-row flex-wrap w-90">
                                                        <div class="img-square-wrapper" >
                                                            <img class="set" src="../public/image/logo-grab.jpg" height="50" width="50" alt="">
                                                        </div>
                                                        <div class="col-xl-10 col-sm-10 col-10 card-block px-2" >
                                                            <div class='row' style="margin-top: 5px;">
                                                                <p class="col-6 title text-info" style="margin-bottom: 0px;">@TaoLuan</p>
                                                                <small class="col-6 text-muted float-right" style="margin-top: 5px;"> 2020/04/25 12:30 </small>
                                                            </div>
                                                            <div class="row">
                                                                <p class="col-12 card-text text-secondary">"from transportation to payments and financial services across a 
                                                                region of more than 620 million people. "</p>
                                                            </div>
                                                            <div class="row text-center rank float-left">
                                                                <div class="col-12 rating float-left">
                                                                    <small class="text-muted" style="margin-top: 5px;font-size: 14px;"> Đánh giá:  </small>
                                                                    <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1" aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1" aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-default btn-grey  bg-secondary b1" aria-label="Left Align">
                                                                        <span class="fas fa-star fa-1x text-white" aria-hidden="true" style="margin:0px;padding: 0px;"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-12" style="margin-bottom:5px">
                                                    <div class="card flex-row flex-wrap w-90">
                                                        <div class="img-square-wrapper" >
                                                            <img class="set" src="../public/image/logo-grab.jpg" height="50" width="50" alt="">
                                                        </div>
                                                        <div class="col-xl-10 col-sm-10 col-10 card-block px-2" >
                                                            <div class='row' style="margin-top: 5px;">
                                                                <p class="col-6 title text-info" style="margin-bottom: 0px;">@TaoLuan</p>
                                                                <small class="col-6 text-muted float-right" style="margin-top: 5px;"> 2020/04/25 12:30 </small>
                                                            </div>
                                                            <div class="row">
                                                                <p class="col-12 card-text text-secondary">"from transportation to payments and financial services across a 
                                                                region of more than 620 million people. "</p>
                                                            </div>
                                                            <div class="row text-center rank float-left">
                                                                <div class="col-12 rating float-left">
                                                                    <small class="text-muted" style="margin-top: 5px;font-size: 14px;"> Đánh giá:  </small>
                                                                    <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1" aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1" aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-default btn-grey  bg-secondary b1" aria-label="Left Align">
                                                                        <span class="fas fa-star fa-1x text-white" aria-hidden="true" style="margin:0px;padding: 0px;"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-12" style="margin-bottom:5px">
                                                    <div class="card flex-row flex-wrap w-90">
                                                        <div class="img-square-wrapper" >
                                                            <img class="set" src="../public/image/logo-grab.jpg" height="50" width="50" alt="">
                                                        </div>
                                                        <div class="col-xl-10 col-sm-10 col-10 card-block px-2" >
                                                            <div class='row' style="margin-top: 5px;">
                                                                <p class="col-6 title text-info" style="margin-bottom: 0px;">@TaoLuan</p>
                                                                <small class="col-6 text-muted float-right" style="margin-top: 5px;"> 2020/04/25 12:30 </small>
                                                            </div>
                                                            <div class="row">
                                                                <p class="col-12 card-text text-secondary">"from transportation to payments and financial services across a 
                                                                region of more than 620 million people. "</p>
                                                            </div>
                                                            <div class="row text-center rank float-left">
                                                                <div class="col-12 rating float-left">
                                                                    <small class="text-muted" style="margin-top: 5px;font-size: 14px;"> Đánh giá:  </small>
                                                                    <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1" aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1" aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-default btn-grey  bg-secondary b1" aria-label="Left Align">
                                                                        <span class="fas fa-star fa-1x text-white" aria-hidden="true" style="margin:0px;padding: 0px;"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-12" style="margin-bottom:5px">
                                                    <div class="card flex-row flex-wrap w-90">
                                                        <div class="img-square-wrapper" >
                                                            <img class="set" src="../public/image/logo-grab.jpg" height="50" width="50" alt="">
                                                        </div>
                                                        <div class="col-xl-10 col-sm-10 col-10 card-block px-2" >
                                                            <div class='row' style="margin-top: 5px;">
                                                                <p class="col-6 title text-info" style="margin-bottom: 0px;">@TaoLuan</p>
                                                                <small class="col-6 text-muted float-right" style="margin-top: 5px;"> 2020/04/25 12:30 </small>
                                                            </div>
                                                            <div class="row">
                                                                <p class="col-12 card-text text-secondary">"from transportation to payments and financial services across a 
                                                                region of more than 620 million people. "</p>
                                                            </div>
                                                            <div class="row text-center rank float-left">
                                                                <div class="col-12 rating float-left">
                                                                    <small class="text-muted" style="margin-top: 5px;font-size: 14px;"> Đánh giá:  </small>
                                                                    <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1" aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning b1" aria-label="Left Align">
                                                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-default btn-grey  bg-secondary b1" aria-label="Left Align">
                                                                        <span class="fas fa-star fa-1x text-white" aria-hidden="true" style="margin:0px;padding: 0px;"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="danhgia" class="container tab-pane fade">
                                <%- include('../elements/danhgia'); -%>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fas fa-caret-square-up"></i></a>
            </div>
        </div>
    </div>
</body>
    <script src="../../public/js/jquery.min.js"></script>
    <script src="../../public/js/bootstrap.bundle.min.js"></script>
    <script src="../../public/js/agency.min.js"></script>
    <script src="../../public/js/forms.js"></script>
    <script src="../../public/js/showcpn.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script> 
    const choices = new Choices('[data-trigger]',
        {
            searchEnabled: false,
            itemSelectText: '',
        });
        $(document).ready(function(){
            $(".nav-tabs a").click(function(){
                $(this).tab('show');
            });
            $(".nav-tabs a").click(function(){
                 $(this).tab('show');
             })
            $('.review').click(function(){
                $('#danhgia').removeClass('fade');
                $('#danhgia').addClass('active');
                $('#rv').addClass('active');
                $('#hm').removeClass('active');
                $('#home').removeClass('active');
                $('#home').addClass('fade');
            })
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
     <style>
        .col-right{
            max-width: 32%;
            float: right;
            }
        @media (max-width:1200px){
        .col-right{
            margin-top: 10px;
            max-width: 100%;
            height: 33%;
        }
    }
    .b1{
        width: 20px;
        height: 20px;
        font-size: 10px;
        padding: 0px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .set{
        margin-top: 5px;
        border-radius: 40px;
        margin-left: 5px;
    }
    .tab .nav-link {
        color: black;
    }
    .tab .nav-item{
        background-color: #e3e3e3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid #e3e3e3;
        border-bottom: none;
    }
    .review:hover a{
        text-decoration: none;
        color: azure;
    }
    </style>
</html>