<script type="text/javascript" src="../public/js/jquery.amsify.suggestags.js"></script>
<div class="container wrap" style="background:white;border: 1px solid #e3e3e3; margin-top: 5px;">
    <div class="row">
        <div class="col-12">  
          <div class="jumbotron text-center" style="margin-top: 5px;">
                <h1 id="search-title">Tìm kiếm việc làm tốt nhất dành cho bạn !!!</h1>
                <div class="s003">
                    <form action="/vieclamit/search" method="GET">
                        <div class="inner-form">
                            <div class="input-field first-wrap">
                            <div class="input-select">
                                <select class="country" data-trigger="" name="city" id="select">
                                    <option value="all">Tất cả</option>
                                    <option value="Ho Chi Minh">Hồ Chí Minh</option>
                                    <option value="Ha Noi">Hà Nội</option>
                                    <option value="Can Tho">Cần Thơ</option>
                                    <option value="Orthers">Orthers</option>
                                  </select>
                            </div>
                            </div>
                            <div class="input-field second-wrap">
                                <div class="form-group"style="font-size:10px">
                                    <input  type="text" placeholder="Ngôn ngữ lập trình, kỹ năng?" class="form-control click" name="planets" required/>          
                                    <div id="myDropdown" class="dropdown-content">
                                    </div>
                                </div>
                            </div>   
                            <div class="input-field third-wrap">
                            <button class="btn-search" type="submit">
                                <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                </svg>
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-8 col-md-12" id="list-job">
            <div class="container" id="search-list">
            <div class="row" id="showjob">
                <span id="jobs">Có <span id="num"><%= num %></span>  việc làm <span style="color:#ffc107 ;"> <%= namejob %> </span> <span style="color:#ffc107 ;"> <%= where %> </span> dành cho bạn</span>
                <hr>
            </div>
            <hr>
            <% dsjob.forEach((ds,index)=>{ %>
                <div class="row hv">
                    <div class="col-12">
                        <div class="card mb-3" style="max-width: 730px">
                            <div class="row no-gutters">
                                <div class="col-2" id="logo">   
                                    <a href="<%= ds._source.idcompany %>"><img src="<%=ds._source.logo%>" class="card-img" alt="..."></a>
                                </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <a  href="/vieclamit/<%= ds._source.title %>&<%= ds._id %>" style="font-size: 22px;font-weight: 450;"><h5 class="card-title"><%= ds._source.title %> ( <%= ds._source.skills %>)</h5></a>
                                <p class="card-text" >
                                    <% if(authentication){%>
                                        <i class="fas fa-dollar-sign text-success"></i> <span class="text-success"> <%= ds._source.salary.money %> <%= ds._source.salary.unit %></span></br>
                                        <%}else{%>
                                            <i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a> </br>
                                    <%}%>
                
                                    <span><i class="fas fa-map-marked-alt"></i> <%= ds._source.address %> </span></br>
                                    <small class="text-secondary" style="font-size: 14px;">"<%= ds._source.descript.substring(0, ds._source.descript.indexOf('*'))%>..."</small>
                                    <div class="skill">
                                        <%ds._source.skills.forEach(skill => {%>
                                       <a href="#<%=skill%>" ><%=skill%></a>
                                       <% })%>
                                     </div>
                                </p> 
                                <p class="card-text"><small class="text-muted "><%= date[index] %></small> </p>
                                </div>
                            </div>
                            <div class="col-1" ><span class="badge badge-warning" style="color:white;">Hot Job</span>
                            
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="...">
                        <% if (num >= 7){ %>
                            <% if (pages >0) { %>
                                <ul class="pagination pagination-sm justify-content-center">
                                <% if (current == 1) { %>
                                <li class="page-item active" aria-current="page=1#showjob">
                                    <span class="page-link">
                                    1
                                    <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="?page=1#showjob">1</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if(i !== 1) { %>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% for (i = 2; i <= (Number(current)+4) && i <= pages; i++ ) { %>
                                <% if(i == current){ %>
                                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="?page=<%= i %>#showjob"><%= i %></a></li>
                                <% } %>
                                <% if (i==Number(current) + 4 && i < pages) { %>
                                    <li class="page-item disabled"><a class="page-link">...</a></li>
                                <% } %>
                            <% } %>
                            </ul>
                            <% } %>
                        <% } %>
                    </nav>
                </div>
            </div>
            </div>
             
        </div>
        <div class="col-lg-4 " style="border-left:1px rgb(204, 192, 192,0.4) solid; " >
            <div class="container-fuid" id="ntdung">
            <div class="row">
                    <span id="jobs">Nhà tuyển dụng nổi bật</span> 
            </div>
            <hr>
            <div class="row">
                <% rd_cpn.forEach((rs,idx)=>{%>
                    <div class="col-lg-12" style="text-align: center;margin-bottom: 30px;">
                        <div class="card hovercard" style="text-align:center">
                            <div class="avatar" style="background-image: url(../public/image/bg-axon.jfif);">
                                <a href="/companies/<%=rs.name%>&<%=rs._id%>"><img alt="" src="<%=rs.image.logo%>" height="60px" width="60px" style=" margin-top: 80px;"></a>
                            </div>
                            <div class="info" style="margin-top: 25px;">
                                <div class="title">
                                    <h5><%=rs.name%></h5>
                                </div> 
                                <div class="desc"><i class="fas fa-users"></i> <%=rs.member%></div>
                                <div class="desc"><i class="fas fa-cogs"></i> <%=rs.work%></div>
                                <div class="desc">"<%=rs.title%>"</div>
                            </div>
                            <div class="job" style="background-color: whitesmoke;margin-top: 10px;" >
                                <% cpn_job[idx].forEach(rs=>{%>
                                    <div class="list-job">
                                        <a href="/vieclamit/<%=rs.title%>&<%=rs._id%>"><%=rs.title%></a>
                                    </div>
                                <%})%>
                            </div>
                        </div> 
                    </div>
                <%})%>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("document").ready(function(){
        $('input[name="planets"]').amsifySuggestags({
            tagLimit: 4,
        });
    });
        
</script>