<div class="container" style="background:white;box-shadow: 0 4px 8px 0 rgba(26, 25, 25, 0.2); margin-top: 5px;">
    <div class="row">
        <div class="col-12">  
          <div class="jumbotron text-center" style="margin-top: 5px;">
                <h1 id="search-title">Tìm kiếm việc làm tốt nhất dành cho bạn !!!</h1>
                <div class="s003">
                    <form>
                        <div class="inner-form">
                            <div class="input-field first-wrap">
                            <div class="input-select">
                                <select data-trigger="" name="choices-single-defaul">
                                <option placeholder="123">Thành phố</option>
                                <option>Hồ Chí Minh</option>
                                </select>
                            </div>
                            </div>
                            <div class="input-field second-wrap">
                                <div class="form-group">
                                <input type="text" placeholder="Tìm kiếm theo kỹ năng ,công ty?" class="form-control" name="planets"/>          
                                <div id="myDropdown" class="dropdown-content">
                                        <ul id="myUL">
                                            <% kq.forEach(function(result){ %>
                                            <li><a><%= result %></a></li>
                                            <% }) %>
                                        </ul>
                                </div></div>
                                
                            </div>   
                            <div class="input-field third-wrap">
                            <button class="btn-search" type="button">
                                <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                </svg>
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-8 col-md-12" id="list-job">
            <div class="container" id="search-list">
            <div class="row" id="showjob">
                <span id="jobs">Có hơn <span id="num"><%= num %></span> việc làm dành cho bạn</span>
                <hr>
            </div>
            <hr>
                <% dsjob.forEach(function(ds){ %>
                    <div class="row hv">
                        <div class="col-12">
                            <div class="card mb-3" style="max-width: 730px">
                                <div class="row no-gutters">
                                    <div class="col-2" id="logo">
                                        <a href="<%= ds._source.idcompany %>"><img src="../public/image/logo-axon.png" class="card-img" alt="..."></a>
                                    </div>
                                <div class="col-8">
                                    <div class="card-body">
                                        <a href="/job/<%= ds._source.namejob %>"><h5 class="card-title" style="font-size: 22px;"><%= ds._source.namejob %> ( <%= ds._source.skills %>)</h5></a>
                                    <p class="card-text">
                                        <i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a> </br>
                                        <i class="fas fa-map-marked-alt"></i> <%= ds._source.address %> </br>
                                        <i class="fas fa-code"></i> <%= ds._source.skills %> </br>
                                    </p> 
                                    <p class="card-text"><small class="text-muted "><%= ds._source.time.day %>
                                        <%= ds._source.time.hour %>:<%=ds._source.time.minutes %></small> </p>
                                    </div>
                                </div>
                                <div class="col-1" ><span class="badge badge-warning" style="color:white;">Hot Job</span>
                                
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
                <div class="row">
                    <div class="col-12">
                    <nav aria-label="...">
                        <% if (num > 0){ %>
                            <% if (pages >0) { %>
                                <ul class="pagination pagination-sm justify-content-center">
                                <% if (current == 1) { %>
                                <li class="page-item active" aria-current="page=1#showjob">
                                    <span class="page-link">
                                    1
                                    <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="?page=1#showjob">1</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if(i !== 1) { %>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% for (i = 2; i <= (Number(current)+4) && i <= pages; i++ ) { %>
                                <% if(i == current){ %>
                                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="?page=<%= i %>#showjob"><%= i %></a></li>
                                <% } %>
                                <% if (i==Number(current) + 4 && i < pages) { %>
                                    <li class="page-item disabled"><a class="page-link">...</a></li>
                                <% } %>
                            <% } %>
                            </ul>
                            <% } %>
                        <% } %>
                </nav>
                </div>
                
                </div>
            
        </div>
        <div class="col-lg-4 " style="border-left:1px rgb(204, 192, 192,0.4) solid;" >
            <div class="row">
                    <span id="jobs">Nhà tuyển dụng nổi bật</span> 
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card hovercard" style="text-align: center;">
                        <div class="avatar">
                            <img alt="" src="../public/image/logo-axon.png" height="100px" width="100px" style="border-radius: 50px; margin-top: 10px;">
                        </div>
                        <div class="info">
                            <div class="title">
                                <a target="_blank" href="https://scripteden.com/">AXON</a>
                            </div>
                            <div class="desc">Passionate designer</div>
                            <div class="desc">Curious developer</div>
                            <div class="desc">Tech geek</div>
                        </div>
                        <div class="bottom">
                            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
        
                </div>
        </div>
        </div>
    </div>
</div>
<script>
    $("document").ready(function(){
        $('input[name="planets"]').amsifySuggestags({
            tagLimit: 4,
        });
        
    })
    
    
    </script>
<style>
    .mb-3{
    margin-bottom: 0.5rem!important;
}
#myInput:focus {outline: 3px solid #ddd;}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9ecef;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
#myDropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>