<script type="text/javascript" src="../public/js/jquery.amsify.suggestags.js"></script>
<div class="container wrap" style="background:white;box-shadow: 0 4px 8px 0 rgba(26, 25, 25, 0.2); margin-top: 5px;">
    <div class="row">
        <div class="col-12">  
          <div class="jumbotron text-center" style="margin-top: 5px;">
                <h1 id="search-title">Tìm kiếm việc làm tốt nhất dành cho bạn !!!</h1>
                <div class="s003">
                    <form action="/vieclamit/search" method="GET">
                        <div class="inner-form">
                            <div class="input-field first-wrap">
                            <div class="input-select">
                                <select class="country" data-trigger="" name="city" id="select">
                                    <option value="all">Tất cả</option>
                                    <option value="Ho Chi Minh">Hồ Chí Minh</option>
                                    <option value="Ha Noi">Hà Nội</option>
                                    <option value="Can Tho">Cần Thơ</option>
                                    <option value="Orthers">Orthers</option>
                                  </select>
                            </div>
                            </div>
                            <div class="input-field second-wrap">
                                <div class="form-group"style="font-size:10px">
                                    <input  type="text" placeholder="Ngôn ngữ lập trình, kỹ năng?" class="form-control click" name="planets" required/>          
                                    <div id="myDropdown" class="dropdown-content">
                                    </div>
                                </div>
                            </div>   
                            <div class="input-field third-wrap">
                            <button class="btn-search" type="submit">
                                <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                </svg>
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-8 col-md-12" id="list-job">
            <div class="container" id="search-list">
            <div class="row" id="showjob">
                <span id="jobs">Có <span id="num"><%= num %></span>  việc làm <span style="color:#ffc107 ;"> <%= namejob %> </span> <span style="color:#ffc107 ;"> tại <%= where %> </span> dành cho bạn</span>
                <hr>
            </div>
            <hr>
            <% dsjob.forEach(function(ds){ %>
                <div class="row hv">
                    <div class="col-12">
                        <div class="card mb-3" style="max-width: 730px">
                            <div class="row no-gutters">
                                <div class="col-2" id="logo">   
                                    <a href="<%= ds._source.idcompany %>"><img src="../public/image/logo-axon.png" class="card-img" alt="..."></a>
                                </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <a  href="/job/<%= ds._source.namejob %>" style="font-size: 22px;font-weight: 450;"><span class="card-title"><%= ds._source.namejob %> ( <%= ds._source.skills %>)</span></a>
                                <p class="card-text" style=" white-space: nowrap;">
                                    <i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a> </br>
                                    <i class="fas fa-map-marked-alt"></i> <%= ds._source.address %> </br>
                                    <i class="fas fa-code"></i> <%= ds._source.skills %> </br>
                                </p> 
                                <p class="card-text"><small class="text-muted "><%= ds._source.time.day %>
                                    <%= ds._source.time.hour %>:<%=ds._source.time.minutes %></small> </p>
                                </div>
                            </div>
                            <div class="col-1" ><span class="badge badge-warning" style="color:white;">Hot Job</span>
                            
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="...">
                        <% if (num >= 7){ %>
                            <% if (pages >0) { %>
                                <ul class="pagination pagination-sm justify-content-center">
                                <% if (current == 1) { %>
                                <li class="page-item active" aria-current="page=1#showjob">
                                    <span class="page-link">
                                    1
                                    <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="?page=1#showjob">1</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if(i !== 1) { %>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% for (i = 2; i <= (Number(current)+4) && i <= pages; i++ ) { %>
                                <% if(i == current){ %>
                                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="?page=<%= i %>#showjob"><%= i %></a></li>
                                <% } %>
                                <% if (i==Number(current) + 4 && i < pages) { %>
                                    <li class="page-item disabled"><a class="page-link">...</a></li>
                                <% } %>
                            <% } %>
                            </ul>
                            <% } %>
                        <% } %>
                    </nav>
                </div>
            </div>
            </div>
             
        </div>
        <div class="col-lg-4 " style="border-left:1px rgb(204, 192, 192,0.4) solid; " >
            <div class="container-fuid" id="ntdung">
            <div class="row">
                    <span id="jobs">Nhà tuyển dụng nổi bật</span> 
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12" style="text-align: center;margin-bottom: 30px;">
                    <div class="card hovercard" style="text-align:center">
                        <div class="avatar" style="background-image: url(../public/image/bg-axon.jfif);">
                            <a href="#axon"><img alt="" src="../public/image/logo-axon.png" height="60px" width="60px" style=" margin-top: 80px;"></a>
                        </div>
                        <div class="info" style="margin-top: 25px;">
                            <div class="title">
                                <h5>AXON</h5>
                            </div> 
                            <div class="desc"><i class="fas fa-users"></i> 1000</div>
                            <div class="desc"><i class="fas fa-cogs"></i> Sản phẩm</div>
                            <div class="desc">
                                <ul class="skills">
                                    <li><a href="#java">Java</a></li>
                                    <li><a href="#php">PHP</a></li>
                                    <li><a href="#js">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="job" style="background-color: whitesmoke;" >
                            <div class="list-job">
                                <a href="#1">Senior QA Automation Engineer</a>
                            </div>
                            <div class="list-job">
                                <a href="#1">Senior Mobile Software Engineer</a>
                            </div>
                            <div class="list-job">
                                <a href="#1">Senior Product Designer (UI/UX)</a>
                            </div>
                            <!-- <table class="table table-striped">
                                <tbody>
                                    <tr>
                                    <td><a href="#1">Senior QA Automation Engineer</a></td>
                                    </tr>
                                    <tr>
                                    <td><a href="#1">Senior Mobile Software Engineer Software Engineer</a></td>
                                    </tr>
                                    <tr>
                                    <td><a href="#1">Senior Product Designer (UI/UX)</a></td>
                                    </tr>
                                </tbody>
                            </table>--->
                        </div>
                        <div class="viewjob"><a href="#q"><i class="fas fa-forward"></i> View job 3 job</a></div>
                    </div> 
                </div>
                <div class="col-lg-12" style="text-align: center;margin-bottom: 30px;">
                    <div class="card hovercard" style="text-align: center;">
                        <div class="avatar" style="background-image: url(../public/image/bg-axon.jfif);">
                            <a href="#axon"><img alt="" src="../public/image/logo-axon.png" height="60px" width="60px" style=" margin-top: 80px;"></a>
                        </div>
                        <div class="info" style="margin-top: 25px;">
                            <div class="title">
                                <h5>AXON</h5>
                            </div> 
                            <div class="desc"><i class="fas fa-users"></i> 1000</div>
                            <div class="desc"><i class="fas fa-cogs"></i> Sản phẩm</div>
                            <div class="desc">
                                <ul class="skills">
                                    <li><a href="#java">Java</a></li>
                                    <li><a href="#php">PHP</a></li>
                                    <li><a href="#js">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="job" style="background-color: whitesmoke;" >
                            <div class="list-job">
                                <a href="#1">Senior QA Automation Engineer</a>
                            </div>
                            <div class="list-job">
                                <a href="#1">Senior Mobile Software Engineer</a>
                            </div>
                            <div class="list-job">
                                <a href="#1">Senior Product Designer (UI/UX)</a>
                            </div>
                        </div>
                         <div class="viewjob"><a href="#q"><i class="fas fa-forward"></i> View job 3 job</a></div>
                    </div> 
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("document").ready(function(){
        $('input[name="planets"]').amsifySuggestags({
            tagLimit: 4,
        });
    });
        
    </script>
<style>
    .mb-3{
    margin-bottom: 0.5rem!important;
}
#myInput:focus {outline: 3px solid #ddd;}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9ecef;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
#myDropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>