<div class="container" >
    <div class="row" >
        <% if(profiles.image.background){%>
        <img src="<%= profiles.image.background%>" class="img-fluid" alt="Responsive image">
        <%}%>
    </div>
    <div class="row" >
        <div class="card w-100 " style="border:none" id="prof">
            <div class="row no-gutters">
                <div class="col-lg-3 col-sm-4 col-4">   
                    <a href=""><img src="<%= profiles.image.logo%>" height="200" class="card-img" alt="..." style="margin-top:10px;margin-bottom:10px;"></a>
                </div>
                <div class="col-lg-7 col-sm-7 col-7">
                    <div class="card-body" style="padding-top: 5px;">
                        <h1 class="card-title font" ><%= profiles.name%></h1>
                            <div class="company-info">
                                <div class="company address"> <span class="icon fas fa-map-marker-alt"><a><%= profiles.Address.address%></a></span></div>
                                <div class="company member"> 
                                    <span class="fas fa-users">  <a> <%=profiles.member%></a></span>
                                    <span class="fas fa-flag-usa"> <a><%=profiles.Address.country%></a></span>
                                </div>
                                <div class="company job"> <span class="fas fa-cogs"><a><%=profiles.work%></a> </span> </div>
                                <div class="company wday"> <span class="fas fa-calendar-alt"><a><%=profiles.workday%></a> </span> </div>
                            </div>
                     </div> 
                </div>
                <div class="col-lg-2 none text-center" >
                        <% if(authentication){%>
                            <%if(check){%>
                                <button  id='follow_check' type="button" value="<%=profiles._id%>" style="width: 150px;" class="bt1 btn btn-md btn-block btn-danger" >
                                    <a  href ='#prof' id='dangtheogioi'>Đang theo dõi</a>
                                </button>
                            <%}else{%>
                            <button id='follow'  type="button" value="<%=profiles._id%>" style="width: 150px" class="bt1 btn btn-md btn-block btn-danger" >
                                <a  href  ='#prof'>Theo dõi</a>
                            </button>
                            <%}%>
                        <%}else{%>
                            <button type="button" style="width: 150px" class="bt1 btn btn-md btn-block btn-danger" data-toggle="tooltip" title="Đăng nhập để theo dõi">
                                <a href ='#prof' data-toggle="modal" data-target="#myModal">Theo dõi</a>
                            </button>
                        <%}%>
                    <button type="button" style="width: 150px;" class="bt1 btn btn-secondary btn-md btn-block review"><a  href="#danhgia">Viết đánh giá</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row tab">
        <ul class="nav nav-tabs" style="margin-top: 10px;">
            <li class="nav-item ">
              <a id='hm' class="nav-link active" href="#home">Home</a>
            </li>
            <li class="nav-item ">
              <a id='rv' class="nav-link " href="#danhgia">Đánh giá</a>
            </li>
        </ul>
    </div>
    <div class="row tab-content mb-3">
        <div id="home" class="container tab-pane active">
            <div  class="row">
                <div class="col-xl-8 col-md-12 col-sm-12 col-left" style="margin-right: 15px;height: auto;">
                    <div class="row" style="background-color:#fff ;border: 1px solid #e3e3e3;"> 
                        <div class="card w-100" style="border: none;">
                            <div class="card-body">
                            <h2 class="card-title text-center"><%= profiles.title %></h2>
                            <ul style="list-style-type: none">
                                <li><h5 class="card-text font-2" >Giới thiệu</h5>
                                    <ul>
                                        <% let temp = Infor.intro.split('*') %>
                                        <% temp.forEach(function(element,index) {%>
                                        <%  element = element.trim()%>
                                            <% if(element !== ''){%>
                                            <li>
                                                <p class="card-text"><%= element%> </p>
                                            </li> 
                                            <%}%>
                                        <%});%>
                                    </ul>
                                </li>
                            </ul>
                            </div>
                        </div>
                        <div class="card w-100 "  style="border: none;">
                            <div class="card-body " style="padding-top: 0px;">
                                <ul style="list-style-type: none">
                                    <li><h5 class="card-title font-2">Chuyên Môn Của Chúng Tôi</h5>
                                        <div class="skills">
                                            <% Infor.os.skills.forEach(element => { %>
                                                <a href="#java"><%=element%></a>
                                           <% }); %>
                                        </div>
                                        <ul>
                                            <% if(Infor.os.os_intro){%>
                                                <% temp = Infor.os.os_intro.split('*') %>
                                                <% temp.forEach(function(element,index) {%>
                                                <%  element = element.trim()%>
                                                    <% if(element !== ''){%>
                                                    <li>
                                                        <p class="card-text"><%= element%> </p>
                                                    </li> 
                                                    <%}%>
                                                <%});%>
                                            <%}%>
                                        </ul>
                                    </li>
                                </ul>
                                
                            
                            </div>
                        </div>
                    </div>
                    <div class="row" style="background-color:#fff ;margin-top: 10px;border: 1px solid #e3e3e3;"> 
                        <div class="col-12 card w-100" style="border: none;">
                            <div class="card-body">
                            <h5 class="font card-title"><%= profiles.name%> Tuyển dụng</h5>
                            </div>
                        </div>
                        <div class="col-12">
                            <% Job.forEach(rs => {%>
                                <div class="row d-flex justify-content-center">
                                    <div class="card mb-3 hv w-100 ml-0" style="max-width: 720px">
                                        <div class="row no-gutters">
                                            <div class="col-2" id="logo">   
                                                <a href=""><img src="<%=profiles.image.logo%>" class="card-img" alt="..."></a>
                                            </div>
                                            <div class="col-10">
                                                <div class="card-body">
                                                    <a class="card-title" href="/vieclamit/<%=rs.title%>&<%=rs._id%>" style="font-size: 22px;font-weight: 450;"><%=rs.title%> (<%=rs.skills%>)</a>
                                                    <% if(authentication){%>
                                                        <p class='text-success' style="margin-bottom: 5px"><i class="fas fa-dollar-sign"></i> <%=rs.salary.money%> <%=rs.salary.unit%></p>
                                                    <%}else{%>
                                                        <p style="margin-bottom: 5px"><i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a></p>
                                                        <%}%>
                                                    <p style="margin-bottom: 5px"><i class="fas fa-map-marked-alt"></i> <%=rs.address%></p>
                                                    <p style="font-size: 15px; color: gray;">" <%=rs.descript.substring(0, rs.descript.indexOf('*'))%>..."</p>
                                                    <div class="skills ml-0">
                                                        <% rs.skills.forEach(element => { %>
                                                            <a href="#java"><%=element%></a>
                                                       <% }); %>
                                                    </div>
                                                    <p style="margin-bottom: 5px"><small class="text-muted "> 2020/04/25 12:30 </small>
                                                </p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%})%>
                        </div>
                    </div>
                    <div class="row"  style="background-color:#fff;margin-top: 10px;border: 1px solid #e3e3e3;">
                        <div class="card w-100" style="border: none;">
                            <div class="card-body" style="padding-bottom: 5px;">
                            <h3 class="conten card-title font-2">Tại sao bạn sẽ chọn chúng tôi ?</h3>
                            <% if(Infor.choose_us.reasons){%>
                                <ul>
                                    <% temp = Infor.choose_us.reasons.split('*') %>
                                    <% temp.forEach(function(element,index) {%>
                                    <%  element = element.trim()%>
                                        <% if(element !== ''){%>
                                        <li>
                                            <p class="card-text"><%= element%> </p>
                                        </li> 
                                        <%}%>
                                    <%});%>
                                </ul>
                            <%}%>
                            </div>
                        </div>
                        <div class="container">
                        <% Infor.choose_us.image.forEach(element => { %>
                            <div class="mySlides">
                                <img src="<%= element%>" style="width:100%;height: 500px;">
                            </div>
                        <%});%>
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
                            <div class="roww">
                                <% Infor.choose_us.image.forEach(element => {%>
                                <div class="column">
                                    <img class="demo cursor" src="<%= element%>" style="width:90%;height:50px;" onclick="currentSlide(1)" >
                                    </div>
                                <%});%>
                            </div>
                        </div>
                        <div class="card w-100" style="border: none;">
                            <div class="card-body" style="padding-bottom: 5px;">
                            <% if(Infor.choose_us.others){%>
                                <ul>
                                    <% temp = Infor.choose_us.others.split('*') %>
                                    <% temp.forEach(element => {%>
                                    <%  element = element.trim()%>
                                        <% if(element !== ''){%>
                                        <li>
                                            <p class="card-text"><%= element%> </p>
                                        </li> 
                                        <%}%>
                                    <%});%>
                                </ul>
                            <%}%>
                            </div>
                        </div>
                        <% if(Infor.Benefits.work_environment || Infor.Benefits.bonus){ %>
                        <div class="card w-100" style="border: none;">
                            <div class="card-body" style="padding-top: 5px;padding-bottom: 5px;">
                            <h3 class="conten card-title font-2">Lợi ích khi làm việc tại đây</h3>
                            <ul style="list-style-type: none">
                                <% if(Infor.Benefits.work_environment){%>
                                    <li><h6 class="font-2">Môi trường làm việc</h6>
                                    <ul>
                                        <% temp = Infor.Benefits.work_environment.split('*') %>
                                        <% temp.forEach(element => {%>
                                        <%  element = element.trim()%>
                                            <% if(element !== ''){%>
                                            <li>
                                                <p class="card-text"><%= element%> </p>
                                            </li> 
                                            <%}%>
                                        <%});%>
                                    </ul>
                                    </li>   
                                <%}%>
                                <% if(Infor.Benefits.bonus){%>
                                    <li><h6 class="font-2">Bạn sẽ nhận được gì khi làm tại đây</h6>
                                    <ul>
                                        <% temp = Infor.Benefits.bonus.split('*') %>
                                        <% temp.forEach(element => {%>
                                        <%  element = element.trim()%>
                                            <% if(element !== ''){%>
                                            <li>
                                                <p class="card-text"><%= element%> </p>
                                            </li> 
                                            <%}%>
                                        <%});%>
                                    </ul>
                                    </li>   
                                <%}%>
                            </ul>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
                <div class="col-xl-4 col-right">
                    <div class="row" style="background-color:#fff;margin-bottom: 10px;border: 1px solid #e3e3e3; border-radius: 5px;" >
                        <div class="col-12" style="margin-top: 5px;">
                            <div class="card text-center h-100" style="border:none">
                                <div class="row p-2 no-gutters rounded">
                                    <div class="col-6 rounded">
                                        <div class="card card-block text-primary rounded-0 border-left-0 border-right-0 border-top-0 border-bottom-0">
                                            <h3><%=Job.length%></h3>
                                            <span class="small text-uppercase">Công Việc</span>
                                        </div>
                                    </div>
                                    <div class="col-6 rounded">
                                        <div class="card card-block text-primary rounded-0 border-right-0 border-top-0 border-bottom-0">
                                            <h3><%=profiles.follow.length%></h3>
                                            <span class="small text-uppercase"><i class="far fa-thumbs-up"></i> Lượt theo dõi</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row " style="background-color:#fff;margin-bottom: 10px;border: 1px solid #e3e3e3; border-radius: 5px;" >
                        <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 5px;">
                            <div class="c100 p<%=list_star[7].point_vote%> mt-3">
                                <span><%=list_star[7].point_vote%>%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <p class="font-italic text-primary text-center" style="position: relative;">
                                <%if(list_star[7].point_vote!==0){%>
                                <p class="font-italic text-primary text-center" style="position: relative;">Lời khuyên nên làm việc tại đây !!</p>
                                <%}else{%>
                                    <p class="font-italic text-secondary text-center" style="position: relative;">Chưa có dữ liệu để thống kê</p>
                                <%}%>
                            </p>
                        </div>
                    </div>
                    <div class="row dv1" style="background-color:#fff;margin-bottom: 10px;border: 1px solid #e3e3e3;" >
                        <%- include('../elements/ratings'); -%>
                    </div>
                    <div class="row " style="background-color: #fff;;">
                        <div class="card w-100" style="border: none;">
                            <div class="card-body" style="padding-bottom: 5px;">
                                <h3 class="conten card-title text-center">Đánh giá nổi bật</h3>
                                <hr>
                            </div>
                        </div>
                        <%if(review_load.length !== 0){%>
                            <% review_load.forEach((rs,idx) =>{%>
                            <div class="col-12" style="margin-bottom:5px">
                                <div class="card flex-row flex-wrap w-100">
                                    <div class="img-square-wrapper" >
                                        <%if(rs.User.upAvt){%>
                                            <img class="set" src="/<%=rs.User.upAvt%>" height="50" width="50" alt="">
                                            <%}else{%>
                                                <img class="set" src="../../public/image/unnamed.png" height="50" width="50" alt="">
                                            <%}%>
                                    </div>
                                    <div class="col-10 card-block px-2" >
                                        <div class='row' style="margin-top: 5px;">
                                            <p class="col-12 title " style="margin-bottom: 0px;font-size: 16px;"><span class='text-info'>@<%=rs.User.fullname%></span>
                                            <small class="float-right text-secondary text-muted " style="font-size: 10px;"> <%=date_rv[idx]%> </small>
                                            </p>
                                        </div>
                                        <div class="row">
                                            <p class="col-12 card-text text-secondary">"<%=rs.comment%>"</p>
                                        </div>
                                        <div class="row text-center rank float-left">
                                            <div class="col-12 rating float-left">
                                                <small class="text-muted" style="margin-top: 5px;font-size: 14px;"> Đánh giá:  </small>
                                                <% let num = 5 - rs.numofStart%>
                                                <% for(let i = 0 ; i < rs.numofStart ; i++){%>
                                                <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                                    <span class="fas fa-star text-white" aria-hidden="true"></span>
                                                </button>
                                                <%}%>
                                                <% for(let i = 0 ; i < num ; i++){%>
                                                    <button type="button" class="btn btn-default btn-grey  bg-secondary b1" aria-label="Left Align">
                                                        <span class="fas fa-star fa-1x text-white" aria-hidden="true" style="margin:0px;padding: 0px;"></span>
                                                    </button>
                                                    <%}%>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <%})}else{%>
                                <div class="col-12" style="margin-bottom:5px">
                                    <p class="text-center text-secondary">Chưa có đánh giá</p>
                                </div>
                               
                            <%}%>
                    </div>
                </div>
            </div>
        </div>
        <div id="danhgia" class="container tab-pane fade">
            <%- include('../elements/danhgia'); -%>
        </div>
    </div>
</div>
<style>
    .bt1 a{
        color: white;
    }
    .bt1 :hover {
        text-decoration: none;
        color: white;
    }
    .col-right{
        max-width: 32%;
        float: right;
        }
    @media (max-width:1200px){
    .col-right{
        margin-top: 10px;
        max-width: 100%;
        height: 33%;
    }
}
p{
    font-size: 1.1em;
    font-weight: 350;
    line-height: 1.7em;
    color: black;
}
.b1{
    width: 20px;
    height: 20px;
    font-size: 10px;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.set{
    margin-top: 5px;
    border-radius: 40px;
    margin-left: 5px;
}
.tab .nav-link {
    color: black;
}
.tab .nav-item{
    background-color: #e3e3e3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e3e3e3;
    border-bottom: none;
}
.review:hover a{
    text-decoration: none;
    color: azure;
}
</style>
<script>
    $(document).ready(()=>{
        $('#follow').click(()=>{
            let id_cpn = $('#follow').attr('value')
            $.ajax({
                method:'get',
                url:'/Xuly/follow',
                data:{id_cpn:id_cpn}
            })
            .done((data)=>{
                if(data){
                    location.reload();
                }else{
                    alert('Xin lỗi hệ thống đang bị lỗi. Vui lòng quay lại sao')
                }
            })
        })
        $('#follow_check').hover(()=>{
            $('#dangtheogioi').text('Hủy theo dõi')
            $('#dangtheogioi').css({"color":"#FFD700"})
        },()=>{
            $('#dangtheogioi').css({"color":"white"})
            $('#dangtheogioi').text('Đang theo dõi')
        })
        $('#follow_check').click(()=>{
            let id_cpn = $('#follow_check').attr('value')
            $.ajax({
                method:'get',
                url:'/Xuly/unfollow',
                data:{id_cpn:id_cpn}
            })
            .done((data)=>{
                if(data){
                    location.reload();
                }else{
                    alert('Xin lỗi hệ thống đang bị lỗi. Vui lòng quay lại sao')
                }
            })
        })
    })
</script>