<div class='row'>
    <div class="col-xl-8 col-md-12 col-sm-12 col-left" style="margin-right: 15px">
      <div class="row" style="background-color:#fff ;border: 1px solid #e3e3e3">
        <%- include('../elements/ratings'); -%>
      </div>
      <% if(authentication){%>
        <div class="row" style="background-color:#fff ;border: 1px solid #e3e3e3;margin-top: 10px;"> 
            <div class="col-12 card" style="border: none;">
                <div class="card-body">
                    <h5 class="card-title font">Đánh giá Toshiba Software Development</h5>
                    <p class="card-text">Hãy đánh giá một cách khách quan nhất !!!</p>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea3">Viết đánh giá</label>
                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="7"></textarea>
                      </div>
                    <p class="card-subtitle mb-2 text-muted text-center">Điểm đánh giá của bạn: </p>
                    <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star" ></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3"  title="3 star"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2"  title="2 star"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                    </div>
                    <p class="card-subtitle mb-2 text-center" id='result'></p>
                    <p class="card-subtitle mb-2 text-muted ">Nơi đây làm việc có tốt không ?</p>
                    <div class="vote row" style="margin-left: 20px;">
                        <button class="btn btn-defaut btn-sm" value="1" style="margin-right: 20px;"><i class="far fa-thumbs-up fa-3x"></i>
                            <p class="card-text"><small class="text-muted">Có</small></p>
                        </button>
                        <button class="btn btn-defaut btn-sm" value="0"><i class="far fa-thumbs-down fa-3x"></i>
                            <p class="card-text"><small class="text-muted">Không</small></p>
                        </button>
                        <input id='kq' type="text" style="display:none"/>
                    </div>
                    <div class="card-text text-center">
                      <a href="#" class="btn btn-warning text-center rw">Đánh giá</a></div>
                </div>	
            </div>
        </div>
        <div class="modal fade" id="ReviewOK" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id='ReviewOK_html'>
                  Thật sự rất cảm ơn bạn đã đóng góp ý kiến cho Công ty chúng tôi !
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id='close'>Xong</button>
                </div>
              </div>
            </div>
          </div>
      <%}else{%>
        <div class="row" style="background-color:#fff ;border: 1px solid #e3e3e3;margin-top: 10px;"> 
        <div class="col-12 card" style="border: none;">
            <div class="card-body">
                <h5 class="card-title font">Đánh giá Toshiba Software Development</h5>
                <p class="card-text">Hãy đánh giá một cách khách quan nhất !!!</p>
                <div class="card-text text-center">
                  <a href="#danhgia" class="btn btn-warning text-center" data-toggle="modal" data-target="#myModal">Đăng nhập để đánh giá</a></div>
            </div>	
        </div>
        </div>
        <%}%>
      <div class="row" style="background-color:#fff ;margin-top: 10px;border: 1px solid #e3e3e3;"> 
        <div class="col-12 card w-100" style="border: none;">
            <div class="card-body">
            <h5 class="font card-title"><%= profiles.name%> Tuyển dụng</h5>
            </div>
        </div>
        <div class="col-12">
            <% Job.forEach(rs => {%>
            <div class="row d-flex justify-content-center">
                <div class="card mb-3 hv w-100 ml-0" style="max-width: 720px; ">
                    <div class="row no-gutters">
                        <div class="col-2" id="logo">   
                            <a href=""><img src="<%=profiles.image.logo%>" class="card-img" alt="..."></a>
                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <a class="card-title" href="/vieclamit/<%=rs.title%>&<%=rs._id%>" style="font-size: 22px;font-weight: 450;"><%=rs.title%> (<%=rs.skills%>)</a>
                                <% if(authentication){%>
                                    <p class='text-success' style="margin-bottom: 5px"><i class="fas fa-dollar-sign"></i> <%=rs.salary.money%> <%=rs.salary.unit%></p>
                                <%}else{%>
                                    <p style="margin-bottom: 5px"><i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a></p>
                                    <%}%>
                                <p style="margin-bottom: 5px"><i class="fas fa-map-marked-alt"></i> <%=rs.address%></p>
                                <p style="font-size: 15px; color: gray;">" <%=rs.descript.substring(0, rs.descript.indexOf('*'))%>..."</p>
                                <div class="skills ml-0">
                                    <% rs.skills.forEach(element => { %>
                                        <a href="#java"><%=element%></a>
                                    <% }); %>
                                </div>
                                <p style="margin-bottom: 5px"><small class="text-muted "> 2020/04/25 12:30 </small>
                            </p></div>
                        </div>
                    </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>
    </div>
    <div class="col-xl-4 col-right">
      <div class="row " style="background-color: #fff;;">
        <div class="card w-100" style="border: none;">
            <div class="card-body" style="padding-bottom: 5px;">
                <h3 class="conten card-title text-center">Tất cả các đánh giá</h3>
                <hr>
            </div>
        </div>
        <%if(review_load.length !== 0){%>
            <% review_load.forEach((rs,idx) =>{%>
            <div class="col-12" style="margin-bottom:5px">
                <div class="card flex-row flex-wrap w-100">
                    <div class="img-square-wrapper" >
                        <img class="set" src="/<%=rs.User.upAvt%>" height="50" width="50" alt="">
                    </div>
                    <div class="col-10 card-block px-2" >
                        <div class='row' style="margin-top: 5px;">
                            <p class="col-12 title " style="margin-bottom: 0px;font-size: 16px;"><span class='text-info'>@<%=rs.User.fullname%></span>
                            <small class="float-right text-secondary"> <%=date_rv[idx]%> </small>
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-12 card-text text-secondary">"<%=rs.comment%>"</p>
                        </div>
                        <div class="row text-center rank float-left">
                            <div class="col-12 rating float-left">
                                <small class="text-muted" style="margin-top: 5px;font-size: 14px;"> Đánh giá:  </small>
                                <% let num = 5 - rs.numofStart%>
                                <% for(let i = 0 ; i < rs.numofStart ; i++){%>
                                <button type="button" class="btn btn-warning b1 " aria-label="Left Align">
                                    <span class="fas fa-star text-white" aria-hidden="true"></span>
                                </button>
                                <%}%>
                                <% for(let i = 0 ; i < num ; i++){%>
                                    <button type="button" class="btn btn-default btn-grey  bg-secondary b1" aria-label="Left Align">
                                        <span class="fas fa-star fa-1x text-white" aria-hidden="true" style="margin:0px;padding: 0px;"></span>
                                    </button>
                                    <%}%>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <%})}else{%>
                <div class="col-12" style="margin-bottom:5px">
                    <p class="text-center text-secondary">Chưa có đánh giá</p>
                </div>
               
            <%}%>  
      </div>
    </div>
</div>
<script src="../../public/js/forms.js"></script>
<script>
    $('#kq').text('')
    $('.vote button').click(function(){
    let val = $(this).val();
    $('#kq').text(val)
    })
    $("input[type='radio']").click(function(){
    let val = $("input[name='rating']:checked").val();
    if (val == 1)$('#result').text("Tệ") ;
    if (val == 2)$('#result').text("Cần cải thiện") ;
    if (val == 3)$('#result').text("Tốt") ;
    if (val == 4)$('#result').text("Rất tốt") ;
    if (val == 5)$('#result').text("Tuyệt vời") ;
    $('#result').css('color','black')
    })
    $('.rw').click(function(){
        let star = $("input[name='rating']:checked").val();
        let vote = $('#kq').text();
        let comment = $('#exampleFormControlTextarea3').val()
        let url = $(location).attr('pathname').indexOf('&');
        let urlnew = $(location).attr('pathname').substring(url+1,$(location).attr('pathname').length)
        if($('#result').text() === '' || vote === '' || comment==='') {
        alert('Vui lòng điền đầy đủ thông tin đánh giá')
        }else{
            $.ajax({
                method:'get',
                url:'/user/danhgia',
                data:{
                    us_star:star,
                    us_vote:vote,
                    us_comment:comment,
                    id_cpn:urlnew
                }
            })
            .done((data)=>{
                if(data){
                    $('#ReviewOK').modal('show',)
                }else{
                    $("#ReviewOK_html").html('Hệ thông đang bị lỗi vui lòng quay lại sau')
                    $('#ReviewOK').modal('show')
                }
            })
        }
    })
    $('#close').click(()=>{location.reload();})
</script>
<style>
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.starrating > input {display: none;}
.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block; 
}
.starrating > label
{
  color: #222222; 
}
.starrating > input:checked ~ label
{ color: #ffca08 ; } 
.starrating > input:hover ~ label
{ color: #ffca08 ;  } 
button:focus .far{
  color: #ffca08;
}
</style>