<script src="../public/js/moment-timezone-with-data.js"></script>
<script src="../public/js/moment-timezone.js"></script>
<div class="row" >
    <div class="col-12" id="job">
        <h1 class="font">Việc làm IT mới dành cho bạn</h1>
    </div>
</div>
<div class="row" >
    <div class="container">
        <div class="row">
            <div class="col-12" id="page">
                <div class="row">
                    <% job_list.forEach((element,index) => { %>
                        <div class="col-6">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                <div class="col-md-2" id="logo">
                                    <img src="<%=element.companies.image.logo%>" class="card-img" alt="...">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <a class='text-tt' href="/vieclamit/<%=element.title%>&<%=element._id%>"><h5 class="card-title "><%=element.title%></h5></a>
                                    <p class="card-text">
                                        <% if(authentication){%>
                                            <i class="fas fa-dollar-sign text-success"></i> <span class="text-success"><%=element.salary.money%></span></br>
                                            <%}else{%>
                                                <i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a> </br>
                                        <%}%>
                                        <i class="fas fa-map-marked-alt"></i><span style="font-size: 14px;"> <%=element.address%></span></br>
                                        <small class="text-secondary">"<%= element.descript.substring(0, element.descript.indexOf('*')-20)%>..."</small>
                                         <div class="skills">
                                             <% element.skills.forEach(skill => {%>
                                            <a href="#<%=skill%>" ><%=skill%></a>
                                            <% })%>
                                          </div>
                                    </p> 
                                    <p class="card-text"><small class="text-muted "><%=date_format[index]%></small> </p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    <%});%>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.skills {
    list-style-type: none;
    height: 25px;
    margin-top: 8px;
    margin-left: 0px;
    margin-bottom: 5px;
}
.skills a {
    font-weight: 50;
    font-family: "Roboto Condensed", sans-serif;
    border: 1px solid gray;
    line-height: 1.5;
    border-radius: 4px;
    margin-right: 5px;
    display: inline-block;
    margin-left: 0px;
    text-align: -webkit-match-parent;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.text-tt{
        color: black;
    }
.text-tt:hover {
    text-decoration: none;
    color: black;
}
</style>