<div class="col-xl-12 col-md-12">
        <% if(list_star[6].point_start !==0){%>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xl-12 col-md-4 col-12 text-center">
                        <h1 class="rating-num text-dark">
                            <% if(Number.isInteger(list_star[6].point_start)){%>
                                <%=list_star[6].point_start%>.0
                            <%}else{%>
                                <%=list_star[6].point_start%>
                            <%}%>
                        </h1>
                        <div class="rating">
                            <%for(let k = 0 ; k < Math.floor(list_star[6].point_start) ;k++){%>
                                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <span class="fas fa-star text-white" aria-hidden="true"></span>
                                </button>
                                <%}%>
                                <%for(let j = 0 ; j < Math.ceil(5-list_star[6].point_start);j++){%>
                                <button type="button" class="btn btn-default btn-grey btn-sm bg-secondary" aria-label="Left Align">
                                    <span class="fas fa-star text-white" aria-hidden="true"></span>
                                </button>
                                <%}%>
                        </div>
                        <div>
                            <i class="fas fa-user text-dark"></i> <a class="text-dark"><%=list_star[5].total_vote%> Lượt đánh giá</a>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-8 col-12 cl">
                        <div class="row rating-desc">
                            <% for(let i = 4; i >= 0 ; i--){%>
                                <div class="col-xl-3 col-md-3 text-right">
                                    <i class="fas fa-star text-warning"></i> <%=list_star[i].star%>
                                </div>
                                <div class="col-xl-8 col-md-9">
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar text-center progress-bar-striped" style="width:<%=list_star[i].avg_star%>%" role="progressbar" aria-valuenow="20"
                                            aria-valuemin="0" aria-valuemax="100"> 
                                            <% if(list_star[i].avg_star===0){%>

                                            <%}else{%>
                                            <%=list_star[i].avg_star%>%
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            <%}%>

                        </div>
                    </div>
                </div>
            </div>
        <%}else{%>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p class="text-center mt-3">Chưa có dữ liệu để đánh giá</p>
                </div>
                
            </div>
        <%}%>
</div>
<style>
.well{
    margin-bottom: 5px;
}
.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.cl{margin-top: 5px;}
.btn-default{
    background-color: gray;
    border: 1px solid gray;
}
</style>