<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="../public/css/profile.css">
        <link href="../public/css/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/agency.min.css" rel="stylesheet">
        <link href="../public/css/amsify.suggestags.css" rel="stylesheet">
        <link href="../public/css/formsearch.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap_file_field.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <div class="row">
            <%- include('header_2') -%>
        </div>
        <div class="row" >
            <div class="container bg-white" style="border: 1px solid #e3e3e3; margin-top: 120px;">
                    <h3 class="font text-title">Thông tin cá nhân</h3> 
                <div class="row" style="margin-bottom: 10px;">
                    <div class='col-lg-3 col-3'>
                        <form enctype="multipart/form-data" action="/user/editprofile" method="post" >
                            <div class="card" style="width: 14rem;border: none;">
                                <% if(upavt === ''){ %>
                                    <img id='avt' src="../../public/image/avt-defaut.png" class="card-img-top" alt="..." style="border-radius: 50%;">
                               <% }else { %>
                                <img id='avt' src="<%= upavt %>" class="card-img-top" height="100" width="100" alt="..." style="border-radius: 50%;">
                                <% } %>
                                <div class="col-lg-12" style="margin-top: 20px;">
                                    <input type="file" name="upavt" class="checkup"  
                                    data-field-type="bootstrap-file-filed"  
                                    data-label="Select Image Files"  
                                    data-btn-class="btn-primary"  
                                    data-file-types="image/jpeg,image/png,image/gif"  
                                    data-preview="on"  
                                    multiple >
                                </div>
                            </div>
                    </div>
                    <div class='col-lg-8'>
                        <h4>Chào <%= nameuser %> !</h4>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputEmail4">Email</label>
                              <input type="email" class="form-control" id="inputEmail4" value="<%= email %>" name="email" placeholder="tvanluanst@gmail.com">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Họ Tên</label>
                                <input type="text" class="form-control" id="inputPassword4" value="<%= fullname %>" name="fullname" placeholder="Họ Tên">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputAddress">Địa chỉ</label>
                            <input type="text" class="form-control" value="<%= address %>" id="inputAddress" name="address" placeholder="Phường/Xã - Huyện/Tỉnh - Thành Phố">
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2">Upload CV</label>
                            <div class="custom-file ">
                                <input type="file" value="<%= upcv %>" class="custom-file-input" name="upcv" id="inputGroupFile01" accept=".doc, .docx, .pdf">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file .doc, .docx, .pdf</label>
                              </div>
                          </div>
                          <button type="submit" class="btn btn-primary w-50">Lưu</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../public/js/bootstrap_file_field.js"></script>
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/bootstrap.bundle.min.js"></script>
<script src="../public/js/agency.min.js"></script>
<script src="../public/js/forms.js"></script>
<script type="text/javascript" src="../public/js/jquery.amsify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script>
    $(".custom-file-input").on("change", function() {
         var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    
</script>
<style>
    body{
        background-color: whitesmoke;
    }
    .font{
    font-size: 28px;
    font-weight: 400;
    line-height: 60px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    margin-bottom: 20px;
    }
    .form-row .form-group{
        margin-top: 10px;
    }
    .btn{
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
</html>