<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="../public/css/formlogin.css">
        <link href="../public/css/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/agency.min.css" rel="stylesheet">
        <link href="../public/css/amsify.suggestags.css" rel="stylesheet">
        <link href="../public/css/formsearch.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <div class="row">
            <%- include('header_2') -%>
        </div>
        <div class="row" >
            <div class="container " style=" margin-top: 80px;margin-bottom: 5px;">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7 col-12 bg-white mb-3"  style="border: 1px solid #e3e3e3;">
                        <div class="col-xl-12">
                            <h3 class="font text-title">Các công việc ứng tuyển</h3> 
                            <div class="row">
                                <div class="ml-3 alert alert-warning alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    Số công việc đã ứng tuyển<strong> <%=data.length%></strong> 
                                  </div>
                            </div>
                            <div class="row " style="margin-top:10px">
                                <% data.map((ds,index)=>{%>
                                <div class="col-12">
                                    <div class="card mb-3" style="max-width: 730px">
                                        <div class="row no-gutters">
                                            <div class="col-2" id="logo">   
                                                <a href="/companies/<%= ds.companies.name %>&<%= ds.companies._id %>"><img src="<%=ds.companies.image.logo%>" class="card-img" alt="..."></a>
                                            </div>
                                        <div class="col-10">
                                            <div class="card-body">
                                            <a class="text-decoration-none mb-0 "  href="/vieclamit/<%= ds.title %>&<%= ds._id %>" style="font-size: 22px;font-weight: 450;"><h5 class="card-title"><%= ds.title %> ( <%= ds.skills %>)</h5></a>
                                            <p class="card-text mt-0 mb-0">Vị trí ứng tuyển: <span class="font-weight-bold text-primary"><%= ds.title %></span> </p>
                                            <p class="card-text mt-0 mb-0">Tại công ty: <span class="font-weight-bold"><%= ds.companies.name %></span> </p>
                                            <p class="card-text mt-0 mb-0">Mức lương: <%= ds.salary.money %> <%= ds.salary.unit %> </p>
                                            <p class="card-text mt-0 mb-0">Địa chỉ: <%= ds.address %> </p>
                                            <%if(ds.join[0].status === "Đã được duyệt"){%>
                                                <p class="card-text mt-0 mb-0">Trạng thái: <span class="badge badge-pill badge-success"><%=ds.join[0].status%></span> <a href="/email" class="badge badge-pill badge-warning text-white">Kiểm tra mail <i class="far fa-envelope"></i></a> </p>
                                            <%}else{%>
                                            <p class="card-text mt-0 mb-0">Trạng thái: <span class="badge badge-pill badge-primary"><%=ds.join[0].status%></span></p>
                                            <%}%>
                                            <small class="text-muted ">Thời gian ứng tuyển: <%= date[0] %></small>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-8">
                        <div class="col-xl-12 bg-white" style="border: 1px solid #e3e3e3;">
                            <h4 class="font text-title">Các nhà tuyển dụng</h4>
                            <div class="row">
                                <% for(let i = 0; i < list_cpns.length;i++){%>
                                    <div class="col-12">
                                        <div class="c1 card w-100"  style="width: 12rem;">
                                            <img class="card-img-top" src="<%=list_cpns[i].image.logo%>" height=150px alt="Card image cap">
                                        </div>
                                    </div>
                                <%}%>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/bootstrap.bundle.min.js"></script>
<script src="../public/js/agency.min.js"></script>
<script src="../public/js/forms.js"></script>
<script type="text/javascript" src="../public/js/jquery.amsify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<style>
    body{
        background-color: whitesmoke;
    }
    .font{
    font-size: 28px;
    font-weight: 400;
    line-height: 60px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    margin-bottom: 20px;
    }

    .c2{
        margin-bottom: 10px;
        margin-left: 50px;
        border: none;
    }
    .c1{
        margin-bottom: 10px;
        border: none;
    }
    .c1:hover{
        border: 3px solid #a7a2a2;
    }
    .content .n1{
        line-height: 35px;
        font-weight: 400;
        font-family: nunito,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    }
    .c2{
        background: -webkit-linear-gradient(right, #706bb3, #0eb7e6);
    }
    .c2:hover{
        border: 1px solid #a7a2a2;
    }
    .c3{
        line-height: 20px;
    }
    .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
    .card{
        margin-bottom: 10px;
    }
    .card a{
        color: black;
    }
    .card:hover {
    box-shadow: 8px 8px 12px 4px rgba(26, 25, 25, 0.2);
}
.card:hover .card-title{
    color: rgb(241, 41, 41);
  }
</style>
</html>