<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" type="text/css" href="../public/css/formlogin.css">
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/agency.min.css" rel="stylesheet">
    <link href="../public/css/formsearch.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <%- include('header'); -%>
        <div class="container-fluid" style="background-color: whitesmoke">
            <div class="row" style="background:rgb(250, 250, 250);box-shadow: 0 4px 8px 0 rgba(26, 25, 25, 0.2); margin-top:10px;">
                <div class="col-12"class="topcompany">
                    <%- include('../elements/topcompany'); -%>
                </div>
            </div>
            <div class="row" >
                <div class="container mt-3" style="margin-top:10px;background:white;box-shadow: 0 4px 8px 0 rgba(26, 25, 25, 0.2);">
                    <%- include('usnewjob'); -%>
                </div> 
            </div>
            <div class="row" style=" padding-bottom:20px;margin-top: 10px; background-color: #221f20;color: white;box-shadow: 0 4px 8px 0 rgba(236, 236, 236, 0.2);">
                <%- include('../elements/listsearch') -%>
            </div>
        </div>   
    </div>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/agency.min.js"></script>
    <script src="../public/js/forms.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script>
    const choices = new Choices('[data-trigger]',
    {
        searchEnabled: false,
        itemSelectText: '',
    });
    $(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
    });
    </script>
</body>
</html>